.container {
    display: grid;
    grid-template-columns: auto auto;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

.main {
    display: grid;
    width: 85vw;
}

.mainBottom {
    padding-right: 8px;
    width: 100%;
    height: fit-content;
    display: inline-flex;
    place-content: center;
}

.btn2 {
    width: 100px;
    height: 25px;
    justify-content: space-around;
    border: none;
}

.btn2:hover {
    background-color: red;
}

.space {
    width: 10px;
}

a {
    text-decoration: none;
    color: black;
}


.sidebar {
    display: flex;
    flex-direction: column;
    width: 15vw;
    padding-left: 2vw;
}

.search, .topmovies, .Genres {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 85vw;
}

.button:hover, a:hover {
    color: red;
    cursor: pointer;
}

.searchBar {
    width: 25%;
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thin solid black;
    text-align: center;
}

.results {
    width: 85vw;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}



